# Project exclude paths
/.gradle/
/build/
/build/classes/kotlin/main/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/vcs.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle.kts
